@use '../../helpers/index' as *;

.auth {
  padding-inline: rem(30);

  &__title, &__bottom {
    @include abs-x;
  }

  &__title, &__btn {
    color: var(--color-accent);
  }

  &__title {
    bottom: calc(100% + #{rem(10)});
  }

  &__bottom {
    bottom: rem(100);
  }
}