@use '../../helpers/index' as *;

.comments {
  background: var(--color-dark-alt);
  padding: rem(10) rem(10) rem(5);

  &:not(.is-open) {
    border-radius: var(--radius-medium);
    margin-bottom: rem(15) !important;
  }
  &.is-open {
    padding-bottom: rem(20);
    margin-top: rem(-10);
    width: 100vw;
    margin-left: rem(-10);
    overflow-y: auto;
  }

  .button {
    padding: rem(10);
  }

  &__open, &__close {
    @include square(28);
  }

  &__open {
    top: rem(10);
    right: rem(10);
    rotate: 180deg;
  }

  &__sort {

    &-open {

      svg {
        @include square(22);
      }
    }

    &-block {
      top: calc(100% + #{rem(10)});
      background: var(--color-dark-alt);
      border-radius: var(--radius-regular);
      padding: rem(5);

      &:not(.is-active) {
        pointer-events: none;
      }
    }

    &-btn {
      padding: rem(10) rem(15);
      border-radius: var(--radius-regular);

      &.is-active {
        background-color: color-mix(in srgb, var(--color-light-alt), transparent 70%);
        pointer-events: none;
      }
    }
  }

  &__avatar {
    @include square(42);
  }

  &__form {
    margin-top: rem(-15);
  }

  &__btn-bar {
    width: 0;
    opacity: 0;
    transition:
            width var(--transition-duration),
            opacity var(--transition-duration),
            font-size var(--transition-duration);
    transform-origin: center left;
    font-size: 0;

    &.is-active {
      width: rem(400);
      opacity: 1;
      font-size: rem(16);
    }
  }
}