@use '../../helpers/index' as *;

.video-player {
  width: 100vw;
  margin-left: rem(-10);
  aspect-ratio: 16/9;
  background: var(--color-dark-alt);

  &.is-fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
  }

  &.controls-hidden {

    .video-player__btn, .video-player__duration {
      opacity: 0;
    }
  }

  video {
    object-fit: contain;
  }

  &__play-btn {
    @include square(80);

    color: var(--color-accent);

    svg {
      @include square(40);
    }
  }

  &__timeline {
    --progress: 0%;

    padding-top: rem(8);

    .line {
      height: rem(3);
      background: linear-gradient(
                      to right,
                      var(--color-accent) var(--progress),
                      #3d4b56 var(--progress)
      );
    }

    .thumb {
      @include square(10);
      @include abs-y;

      transform: translateX(-50%);
      border-radius: 50%;
      background: var(--color-accent);
      left: var(--progress);
    }
  }

  &__line {

    &-item {
      @include flex-center();

      height: rem(20);
      padding: rem(8);
      filter: brightness(1.2);
    }
  }

  &__duration, &__btn {
    background: rgba(0,0,0,.3);
    border-radius: rem(20);
    transition:
            background-color var(--transition-duration),
            opacity var(--transition-duration);

    @include hover() {
      background: rgba(0, 0, 0, .15);
    }
  }

  &__btn {
    @include square(36);

    &.video-player__btn-fullscreen, &.video-player__btn-settings {
      right: rem(15);
    }
    &.video-player__btn-fullscreen {
      bottom: rem(15);
    }
    &.video-player__btn-settings {
      top: rem(10);
    }

    svg {
      width: 55%;
    }
  }

  &__duration {
    font-size: rem(15);
    padding:  rem(3)rem(10);
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    bottom: rem(15);
    left: rem(10);
  }
}