@use '../../helpers/index' as *;

.video {

  &__channel {
    width: 100vw;
    margin-left: rem(-10);
    border-block: var(--border-dark-alt);
    border-color: var(--color-dark-alt) !important;
    padding: rem(10);

    @include hover {
      .video__channel-avatar {
        color: var(--color-light-alt);
      }
    }

    &-avatar {
      @include square(40);
      @include flex-center();

      background: var(--color-dark-alt);
      border-radius: 50%;
    }
  }

  &__button {
    background: var(--color-dark-alt);
    padding: rem(10) rem(15);
    border-radius: var(--radius-big);
    line-height: 1;

    &.fill {
      background: var(--color-accent);
    }

    @include hover() {
      filter: brightness(1.2);
    }

    svg {
      @include square(20);
    }
  }

  &__like span {
    margin-top: rem(4);
  }

  &__intersect {
    width: 100vw;
    margin-left: rem(-10);
    aspect-ratio: 16/9;

    &:has(.is-fullscreen) {
      position: fixed;
      inset: 0;
      z-index: 1000000;
    }

    &.mini-player {

      .video__intersect_wrapper:not(:has(.is-fullscreen)) {
        position: fixed;
        width: rem(500);
      }

      .video-player__play-btn {
        @include square(42);
      }
    }
  }
}