@use '../../helpers/index' as *;

.video-item {
  transition: background-color var(--transition-duration);
  border-radius: var(--radius-medium);
  padding-bottom: rem(10);

  @include hover() {
    background-color: color-mix(in srgb, var(--color-accent), transparent 30%);
  }

  &.is-recommended {

    .video-item__info {
      row-gap: 0;
    }
    .video-item__info-item {
      font-size: rem(13);
    }
    .video-item__channel {
      display: inline-block;
      margin-bottom: rem(6);
    }
    .video-item__timeline {
      height: rem(4);
    }
  }

  &__preview {
    border-radius: var(--radius-medium);
    aspect-ratio: 16 / 9;
    background: var(--color-dark-alt);
    color: var(--color-light) !important;

    span {
      bottom: rem(5);
      right: rem(5);
      background: var(--color-accent);
      border-radius: var(--radius-regular);
      padding-inline: rem(5);
      text-shadow: 0 0 rem(2) var(--color-dark);
      border: var(--border-dark-alt);
    }

    img {
      object-fit: contain;
    }
  }

  &__title {
    color: var(--color-light);
  }

  &__info {
    column-gap: rem(10);
  }

  &__avatar {
    @include square(40);

    padding: 0;
    background: var(--color-light-alt);
    color: var(--color-dark-alt);
  }

  &__info-item {
    font-size: rem(13);
    color: var(--color-light-alt);
    opacity: .9;
  }

  &__dot {
    @include square(3);

    border-radius: 50%;
    background: var(--color-light-alt);
  }

  &__timeline {
    height: rem(3);
    background: var(--color-light-alt);

    div {
      background: var(--color-accent);
    }
  }
}