@use '../../helpers/index' as *;

.menu {
  background: var(--color-dark-alt);

  &__btn {
    padding: rem(15);
    border-radius: var(--radius-regular);

    @include hover {
      background-color: color-mix(in srgb, var(--color-light-alt), transparent 70%);
    }

    &.is-active {
      color: var(--color-accent);
      pointer-events: none;
      background-color: color-mix(in srgb, var(--color-light-alt), transparent 70%);
    }

    svg {
      width: rem(25);
      height: auto;
    }
  }
}