@use '../helpers/index' as *;

.skeleton {

  .line {
     overflow: hidden;
    background: var(--color-dark-alt);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      background: var(--color-light-alt);
      box-shadow: 0 0 rem(20) rem(10) var(--color-light-alt);
      animation: loadSkeleton 2s infinite linear;
      z-index: 1;
    }

    @keyframes loadSkeleton {
      0% {
        left: -100%;
      }
      100% {
        left: 200%;
      }
    }
  }

  &__preview {
    aspect-ratio: 16/9;
    border-radius: var(--radius-medium);
    margin-bottom: rem(10);
  }

  &__avatar {
    @include square(50);
  }

  &__info {
    height: rem(20);
    width: 100%;
    border-radius: var(--radius-regular);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &.channels {
    .skeleton__item {
      width: 100%;
      height: rem(30);
      border-radius: var(--radius-big);
      background: var(--color-dark);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }
}