@use '../../helpers/index' as *;

.header {
  border-bottom: var(--border-dark-alt);
  background: var(--color-dark);

  &:not(.search-is-open) {
    gap: rem(30);
    padding: rem(15) rem(20) rem(10);
  }

  &.search-is-open {
    padding: rem(15) rem(10);

    .header__search {
      width: 100%;
      gap: rem(5);
    }
  }

  &__logo {

    svg {
      @include square(30);
    }
  }

  &__search {
    height: rem(35);

    &_back, &_voice {
      @include square(28);
    }

    &_open {
      @include square(30);
    }

    &_wrapper {
      border-radius: var(--radius-big);
      border: var(--border-light-alt);
      background: var(--color-dark);

      & * {
        height: 100%;
      }
    }

    &_input {
      border: none;
      padding-inline: rem(15) rem(40);
    }

    &_clear {
      @include abs-y;
      @include square(25);

      aspect-ratio: 1;
      height: 100%;
      right: rem(40);
      z-index: 1000;
    }

    &_btn {
      @include square(35);

      background: var(--color-dark-alt);
      will-change: filter;

      @include hover {
        filter: brightness(1.1);
      }

      svg {
        @include square(18);

        margin-bottom: rem(3);
        margin-right: rem(3);
      }
    }
  }
}